body {
  background-color: bisque;
}

#board {
  position: relative;
  outline: solid #0f0f0f;
  width: 990px;
  height: 674px;
}

canvas.area {
  position: absolute;
}

#blocks,
#playarea {
  top: 35px;
  left: 2px;
}

.container {
  display: flex;
  justify-content: center;
}

footer {
  margin: 16px;
  text-align: center;
}